# Code Ownership

* @saintxlucid

# Specific Directories
/src/ @saintxlucid
/.github/ @saintxlucid
/tests/ @saintxlucid

# Configuration Files
*.json @saintxlucid
*.yaml @saintxlucid
*.yml @saintxlucid
*.config.* @saintxlucid

# Content
/src/content/ @saintxlucid
